/*@font-face {
  font-family: 'Libre Baskerville';
  src: local('Libre Baskerville'), url('/fonts/LibreBaskerville-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}*/

/*add another font stanza here
download the .otf file for whatever font you want to use & make a new font stanza here
then use that in the div#content headers so that it will make the content headers only that font
the body is falling back to georgia because you did not add the fonts match block to the site.hs*/

* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #F5DAF5;
    font-family: 'Libre Baskerville', georgia, serif;
    color:#302F2F;
}

.main--container {
    display: flex;
    flex-direction: column;
}


.main--header {
    display: flex;
    flex-direction: column;
    width: 100%;
/*    padding:12px 20px 12px 0px;
    height:100%;
    width:270px;
    position:fixed;
    left:0;
    top:0;*/
    background: rgba(122,0,86,1);
    background: -moz-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(122,0,86,1)), color-stop(1%, rgba(121,1,86,1)), color-stop(52%, rgba(81,30,81,1)), color-stop(74%, rgba(63,43,79,1)));
    background: -webkit-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -o-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: -ms-linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    background: linear-gradient(45deg, rgba(122,0,86,1) 0%, rgba(121,1,86,1) 1%, rgba(81,30,81,1) 52%, rgba(63,43,79,1) 74%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a0056', endColorstr='#3f2b4f', GradientType=1 );
    color:white
}


.main--logo {
    border-bottom: 1px solid white;
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.main--header a {
    color: #F3F3F3;
    font-family:'Cabin', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight:light;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.main--nav {
    padding: 1em;
    line-height: 2em;
}

.main--nav a {
    display: block;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    .main--header {
        display: flex;
        flex-direction: row;
    }

    .main--logo {
        border: none;
        flex: 0 0 auto;
        width: auto;
    }

    .main--nav {
        display: flex;
        flex: 1 0 300px;
        justify-content: flex-end;
    }

    .main--nav a {
        padding: 0 1em;
    }
}

.main--content {
    margin: 0 auto;
    max-width: 800px;
}

.main--footer {
    background: rgba(122,0,86,1);
    color: white;
    font-family:'Cabin', sans-serif;
    padding: 1em;
    text-align: center;
/*    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding:12px 30px 12px 0px;
    text-align: right;*/
}

.main--footer a {
    color: white;
}

h1,h2,h3,h4,h5 {
    font-family:'Cabin', sans-serif;
    color:#4d004d;
}

h1 {
    line-height:1.2em
}


div.info {
    color: #4d004d;
    font-size: 14px;
    font-style: italic;
    text-align: center
}

.main--content {
    font-size: 18px;
    padding:0 30px 20px 30px
}

.main--content h1 {
    font-size:46px;
    text-align:center;
}

.main--content h2 {
    font-style: italic;
    font-size: 38px;
    text-align: center;
}

.main--content h3 {
    font-size: 30px;
    text-align: left;
}

blockquote {
  /*background-color: ;*/
  font-style: italic;
  padding: 3px 10px 3px 10px;
}

div.blurb {
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
    max-width: 920px;
    width: 50%;
    background-color: #ccffe5;
    clear: both;
}

div.blurb p {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

div.sourceCode {
    margin-left: 3em;
}