---
title: Argumatronic
---

<!-- <h1>Julie Moronuki</h1> -->

<h3>Julie Moronuki</h3>
<p><em>I mostly write about Haskell, homeschool, and teaching here. Occasionally personal.</em></p>

<p><em>If you want to know more about my obsession with Dick Cheney, you'll have to find one of my pseudonymous blogs.</em></p>

<!-- <img src="https://www.haskell.org/static/img/logo.png?etag=rJR84DMh" style="float:right"; margin: 24px;> -->

<!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If the MVar is currently full, putMVar will wait until it becomes empty. <a href="https://twitter.com/hashtag/CatsOfHaskell?src=hash">#CatsOfHaskell</a> <a href="http://t.co/VLwM6pfgPl">pic.twitter.com/VLwM6pfgPl</a></p>&mdash; Gin and Julie (@argumatronic) <a href="https://twitter.com/argumatronic/status/631158432859488258">August 11, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->

<h3>Assorted writing:</h3>
$partial("templates/post-list.html")$

<!-- <p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
 -->




