<div class="info">
    $if(author)$
        by $author$
    $endif$
</div>

<div class="post">
$body$
</div>

<div class="blurb">
  <p>
      If you like my writing or think you could learn something useful from me, please <a href="http://haskellbook.com/">take a look at the book</a> I'm writing <a href="http://bitemyapp.com/">with my coauthor Chris</a>. There's a free sample available, too!
  </p>
</div>

<div class="footer">
  <h4>
    Posted on $date$
  </h4>
</div>